:root {
    --background-color: hsl(240, 55%, 41%);
	--color: white;
	--work:#3a82ee;
    --personal:var(--primary-color);
	--secondary-color: #553d67;
	--primary-color: #f64c72;
	--icon-color: #ffffff;
	--form-input: #f4f4f4;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --work-glow: 0px 0px 4px rgba(58, 130, 238,0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164,0.75);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gluten', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: whitesmoke;
    color:black ;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: -3rem;
    
}

header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--primary-color);  
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 30px;
}

header h2 {
    margin-top: -2rem;
    color: #f64c72;
    font-style: italic;
}

input:not([type="radio"]):not([type="checkbox"]) {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
    font-size:large;
}

 h2 {
    margin-bottom: 1rem;
    font-size: 15px;
    color: black;
}

#new-task {
    display: flex;
}

    
#new-task-input {
    align-items: center;
    flex: 1 1 0;
    background-color: white ;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;;
    color: black;
    border: 0;
    font-size:1.5;
    margin-bottom: 2rem;
}

#new-task-input::placeholder {
    color: gray ;
}

h3 {
font-size: 15px;
}
main {

    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    border-radius: 2rem;
}

.cat {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem;
    grid-gap:  1rem;
    margin-top: 1rem;

}

.cat label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--icon-color);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    height: 7rem;
    width: 22.5rem;

}

input[type="radio"],
input[type="checkbox"] {
    display:none
}

.bubble {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--work);
    box-shadow: var(--work-glow);
    margin-bottom: 0.3rem;
}

.bubble.personal {
    border: 2px solid var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
   display: block;
   opacity: 0;
   width: 0px;
   height: 0;
   background-color: var(--work);
   box-shadow: var(--work-glow);
   border-radius: 50%;
   transition: 0.2s ease-in-out;
}

.bubble.personal::after {
background-color: var(--personal);
box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 14px;
    height: 14px;
    opacity: 1;
    margin-top: 0.1rem;
}

#new-task-submit { 
    margin-top: 2rem;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    display: block;
    color: white;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: none;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transform: 0.2s ease-in-out;

}

#new-task-submit:hover {
    opacity: 0.9;

}

#new-task-submit:active {
    opacity: 0.6;
}



.task-list {
    padding: 1rem;
    margin-top: 5rem;
    background-color: #553d67;
    border-radius: 8px;

}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var();
    margin-bottom: 1rem;

}

#tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

#tasks .task .content .text {
    color: black ;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--color);
}

.task .actions button {
    cursor:pointer;
    margin:  0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.4;

}

.task .actions button:active {
    opacity: 0.7;
}

.task .actions .delete { 
    background-color: crimson;
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    color: #f4f4f4;

}
   

.task .actions .edit {
    background-color:#3a82ee;
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    color: #f4f4f4;
    
}

